@tailwind components;

@layer components {
  .text-content {
    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h3,
    dt {
      font-size: 1.25rem;
      font-weight: 500;
    }

    h4 {
      font-size: 1.125rem;
      font-weight: 500;
    }

    h5,
    h6 {
      font-size: 1rem;
      font-weight: 500;
    }

    p {
      margin-bottom: 1rem;
      font-weight: 300;
    }

    a {
      font-weight: 400;
    }

    strong {
      font-weight: 500;
    }

    b {
      font-weight: 500;
    }

    ul {
      margin-bottom: 1rem;
    }

    li {
      margin-bottom: 0.5rem;
      font-weight: 300;

      &::before {
        content: '●';
        color: var(--pistachio);
        margin-right: 0.5rem;
      }
    }
  }
}
