@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next,
html {
  height: 100%;
  line-height: 1.5;
  background-color: var(--background);
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  --background: #f9f9fb;
  --card: #ffffff;
  --low-contrast: #d9d9d9;
  --faded: var(--low-contrast);
  --button: #000000;
  --accent: #131313;
  --text: #000000;
  --lemon-grass: #00e526;
  --pistachio: #94ffa9;
  --pale-aloe: #e2ffe7;
  --cherry-heart: #FF006B;
  --soft-cheek: #ffeef5;
  --baby-fox: #fff2e9;
}

.dark {
  --background: #131313;
  --card: #242222;
  --faded: var(--card);
  --low-contrast: #575050;
  --button: var(--low-contrast);
  --accent: #a59d9d;
  --text: #ffffff;
  --pistachio: #00550e;
  --pale-aloe: #303830;
  --soft-cheek: #3a2f33;
  --baby-fox: #3a332c;
}

p {
  font-size: 1rem;
  color: var(--text);
}

button {
  font-size: 1rem;
}

