@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next,
html {
  height: 100%;
  line-height: 1.5;
  background-color: var(--background);
}

:root {
  --background: #f9f9fb;
  --card: #ffffff;
  --low-contrast: #d9d9d9;
  --faded: var(--low-contrast);
  --button: #000000;
  --accent: #131313;
  --text: #000000;
  --lemon-grass: #00e526;
  --pistachio: #94ffa9;
  --pale-aloe: #e2ffe7;
  --soft-cheek: #ffeef5;
  --baby-fox: #fff2e9;
}

.dark {
  --background: #131313;
  --card: #242222;
  --faded: var(--card);
  --low-contrast: #575050;
  --button: var(--low-contrast);
  --accent: #a59d9d;
  --text: #ffffff;
  --pistachio: #00550e;
  --pale-aloe: #303830;
  --soft-cheek: #3a2f33;
  --baby-fox: #3a332c;
}

p {
  font-size: 1rem;
  color: var(--text);
}

button {
  font-size: 1rem;
}

.content {
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h3,
  dt {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 500;
  }

  h5,
  h6 {
    font-size: 1rem;
    font-weight: 500;
  }

  p {
    margin-bottom: 1rem;
    font-weight: 300;
  }

  a {
    color: var(--lemon-grass);
    font-weight: 400;
  }

  strong {
    font-weight: 500;
    color: var(--lemon-grass);
  }

  b {
    font-weight: 500;
  }

  ul {
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 0.5rem;
    font-weight: 300;

    &::before {
      content: '●';
      color: var(--lemon-grass);
      margin-right: 0.5rem;
    }
  }
}
